@font-face {
  font-family: 'JLEE Regular';
  font-style: normal;
  font-weight: normal;
  src: local('JLEE Regular'), url('JLEE.woff') format('woff');
  }

h1 {
  font-family: 'JLEE Regular';
  font-weight: 200;
  color: #0ccac4;
}